base03 = #002b36
base02 = #073642
base01 = #586e75
base00 = #657b83
base0 = #839496
base1 = #93a1a1
base2 = #eee8d5
base3 = #fdf6e3
yellow = #b58900
orange = #cb4b16
red = #d30101
magenta = #d33682
violet = #6c71c4
blue = #268bd2
cyan = #2aa198
green = #859900

light-background = base02
dark-background = base03

.access_control .readbutton,
.access_control .writebutton,
.access_control.disabled,
.ace_tree_heading,
.ace_tree_layer {
  pointer-events: none
}
.stickynote .tape {
}
.ui-progress-bar {
}
.ui-progress-bar.blue .ui-progress {
}
.ui-progress-bar.error .ui-progress {
}
.ui-progress-bar.warning .ui-progress {
}
.ui-progress-bar.success .ui-progress {
}
.stats-menu .graph {
}
.stats-bubble .info,
.stats-menu .info {
  border: 0
}
.chatText {
  background: dark-background
}
.chatText p {
  word-wrap: break-word
}
.chatContainer .searchTxt.tb_console {
  background: dark-background;
}
.chatContainer .searchTxt.tb_console .sbtb_middle {
  border-color: light-background;
  background: dark-background
}
.chatContainer .tb_textboxInitialMsg {
  text-indent: 3px
}
.memberstree .avatar img {
  border: 0
}
.share .link,
.share .members,
.share blockquote {
  border: 1px solid light-background
}
.access_control.r .writebutton,
.access_control.rw .readbutton {
}
.access_control.disabled .readbutton,
.access_control.disabled .writebutton,
.access_control.r .readbutton,
.access_control.rw .writebutton,
.memberstree.ace_tree_focus .selected .access_control.disabled .readbutton,
.memberstree.ace_tree_focus .selected .access_control.disabled .writebutton,
.memberstree.ace_tree_focus .selected .access_control.r .readbutton,
.memberstree.ace_tree_focus .selected .access_control.rw .writebutton {
  color: dark-background
}
.memberstree .tree-row.selected {
  background: dark-background
}
.share .members {
}
.share .members .hover {
  background: 0 0
}
.ace_tree .toggler {
  pointer-events: auto
}
.ace_tree .toggler.empty {
  pointer-events: none
}
.ace_tree_selection_range {
}
.ace_tree-light .tree-row {
  border: 1px solid transparent
}
.ace_tree-light .tree-row.hover,
.ace_tree-light .tree-row:hover {
}
.ace_tree-light .tree-row.selected {
}
.ace_tree_focus.ace_tree-light .tree-row.selected {
}
.ace_tree-light .tree-row>.tree-column {
}
.notificationstree .avatar img {
  border: 0
}
.ace_tree-light .tree-headings>.tree-column,
.ace_tree-light .tree-row.selected>.tree-column {
  background: 0 0
}
.notificationstree .tree-row {
  pointer-events: auto
}
.notificationstree .btn-default-css3 .caption {
  pointer-events: none
  color: dark-background;
  border: 0
  border: 1px solid light-background;
}
.cool_tooltip_cursor {
  border: 0
}
.ace_gutter-tooltip {
}
.conflict-widget-split {
}
.ace_dark .conflict-marker-1 {
}
.ace_dark .conflict-marker-2 {
}
.ace_button {
  pointer-events: auto
}
.ace_button.disabled,
.ace_layer {
  pointer-events: none
}
.ace_gutter-layer,
.ace_line .ace_fold {
  pointer-events: auto
}
.ace_diff.inline:after {
  background: 0 0
}
.ace_diff,
.ace_diff.delete,
.ace_diff.insert {
}
.ace_diff-connector {
}
.ace_diff.inline {
  background: 0 0
}
.ace_diff.insert.inline:after {
}
.ace_diff.delete.inline:after {
}
.ace_dark .ace_diff,
.ace_dark .ace_diff.delete,
.ace_dark .ace_diff.insert {
}
.ace_dark .ace_diff-connector {
}
.ace_dark .ace_diff.inline {
  background: 0 0
}
.ace_dark .ace_diff.insert.inline:after {
}
.ace_dark .ace_diff.delete.inline:after {
}
.diff-arrow {
  border: 6px double;
  color: gray;
}
.ace_editor {
  direction: ltr
}
.ace_scroller {
  background-color: dark-background!important
}
.ace_text-input {
  background: 0 0;
  -moz-appearance: none;
  appearance: none;
  border: none;
  resize: none;
  text-indent: -1em
}
.ace_layer {
  word-wrap: normal
}
.ace_tooltip,
.bk-window .bk-container h3,
.filetree .message,
.searchresults .item .path {
  word-wrap: break-word
}
.ace_smooth-blinking .ace_cursor {
}
.ace_line .ace_fold {
}
.ace_tooltip {
  letter-spacing: normal;
  pointer-events: none
}
.filetree .status-icon.clickable,
.stack-message {
  pointer-events: auto
}
.ace_fold-widget {
  border: 1px solid transparent
}
.ace_fold-widget:hover {
}
.ace_fold-widget:active {
}
.ace_br1,
.ace_br11,
.ace_br13,
.ace_br3,
.ace_br5,
.ace_br7,
.ace_br9 {
  border-top-left-radius: 3px
}
.ace_br10,
.ace_br11,
.ace_br14,
.ace_br2,
.ace_br3,
.ace_br6,
.ace_br7 {
  border-top-right-radius: 3px
}
.ace_br12,
.ace_br13,
.ace_br14,
.ace_br4,
.ace_br5,
.ace_br6,
.ace_br7 {
  border-bottom-right-radius: 3px
}
.ace_br10,
.ace_br11,
.ace_br12,
.ace_br13,
.ace_br14,
.ace_br8,
.ace_br9 {
  border-bottom-left-radius: 3px
}
.ace_dark .ace_fold-widget:hover {
}
.ace_fade-fold-widgets .ace_fold-widget {
}
.ace_fade-fold-widgets:hover .ace_fold-widget {
}
.ace_error-marker {
}
.ace_highlight-marker {
}
.ace-tm .ace_invalid {
}
.ace-tm .ace_string.ace_regex {
}
.ace-tm .ace_marker-layer .ace_bracket {
  border: 1px solid silver
}
.ace-tm .ace_marker-layer .ace_active-line {
}
.ace-tm .ace_marker-layer .ace_selected-word {
}
.branch {
}
.difftoolbar .buttons {
  border: 1px solid light-background
}
.detail-label .hash,
.difftoolbar .hash {
}
.c9-mbar-round,
.disableIframe iframe,
.filetree.dragImage .toggler,
.split-area,
.uploadDropArea>*,
BODY.noInput * {
  pointer-events: none
}
.test-covered {
}
.test-uncovered {
}
.widget-close-button {
}
.error_widget.ace_error {
}
.error_widget.ace_warning {
}
.error_widget.ace_ok {
}
.ace_dark .error_widget.ace_error {
}
.ace_dark .error_widget.ace_warning {
}
.ace_dark .error_widget.ace_ok {
}
.notifications-bubble {
}
.notifications-bubble .gravatar-image {
}
.btnName.c9-menu-btnIcon {
  text-indent: -2000px
}
.bar-preferences .navigation,
.bar-preferences .navigation .level1.active,
.bar-preferences .navigation .level1>a:hover,
.bar-preferences .navigation .level3 a:hover {
  background: dark-background
}
.bar-preferences .container .header {
  background-color: dark-background
}
.bar-preferences,
.bar-preferences .container>.basic,
.bar-preferences .container>.hsplitbox,
.prefpanel {
  background: light-background
}
.bar-preferences .tbsimple {
}
.bar-preferences .tbsimpleFocus {
  border: 1px solid light-background
}
.bar-preferences .ta {
}
.bar-preferences .taFocus {
  border: 1px solid light-background
}
.bar-preferences .blackdg .tree-headings {
  background: dark-background
}
.bar-preferences .blackdgFocus {
  border: 1px solid transparent
}
.bar-preferences .blackdg .ace-tm .ace_marker-layer .ace_active-line,
.bar-preferences .keybindings .blackdg .ace_tree_cells .group>span:nth-child(2),
.bar-preferences .keybindings .blackdg .tree-row>span:nth-child(2),
.splits {
  background: 0 0
}
.split-area {
}
.dark.split-area {
}
.thingy,
.thingy:after {
}
.thingy:after {
}
.thingy-popup .balloon {
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
  clip-path: polygon(0 0, 100% 0, 0 100%)
}
.sidepanel {
}
.welcome:after {
}
.sidepanel .video .placeholder {
}
.welcome .form .cbblack.cbcontainer,
.welcome .form .cbblack.cbcontainer span,
.welcome .label {
}
.welcome .black_dropdown {
  background: 0 0;
}
.welcome .preset_container .preset {
  border: 1px solid transparent;
  background: 50% 50% no-repeat;
}
.welcome .preset_container .preset:hover {
}
.welcome .preset_container .preset.active {
}
.welcome .preset_container .preset:hover label {
}
.ace_static_highlight {
  counter-reset: ace_line
}
.ace_static_highlight .ace_gutter-cell:before {
  counter-increment: ace_line
}
.toolbar-top.previewbar {
  background: dark-background
}
.installer .choice li {
  list-style-type: none
}
.installer pre.code {
}
.installer .execute {
  background: 0 0
}
.panelsbar,
.panelsbutton:hover,
.panelsbuttonDown,
.panelsbuttonDown:hover {
  background: dark-background
}
.installer .execute .log {
}
.installer .execute .log .output {
  color: gray
}
.installer .execute .log .error {
  color: orange
}
.outline.ace_tree {
  border: none;
  background: 0 0
}
.outline.ace_tree .tree-row.selected {
  background: dark-background
}
.searchresults .item.notAvailable {
}
.searchresults .item.notAvailable .keys {
}
.searchresults .item {
  background: 0 0
}
.searchresults .message {
  border: 0
}
.draganddrop {
}
.draganddrop.over {
}
.draganddrop>span {
}
.draganddrop.over>span {
}
.filetree.ace_tree {
  background: 0 0;
  border: none
}
.filetree .tree-row {
  background: 0 0
}
.filetree .tree-row.selected {
  background: dark-background
}
.filetree .message {
  border: 0;
  background: 0 0
}
.filetree .favorite>.filetree-icon:after,
.filetree .symlink>.filetree-icon:after {
}
.filetree.dragImage.copy:after {
}
.btn_console_open span:after,
.c9-menu-bar .c9-mbar-bcont .c9-mbar-minimize:after,
.c9-menu-bar .c9-mbar-bcont .c9-mbar-minimize:before,
.c9-menu-bar:before,
.c9-offline:before,
.c9-readonly:before,
.c9-update:before,
.cboffline:after,
.editor_tab.notabs:after,
.filetree .dragArrow::before {
}
.dragOver.filetree .tree-row.selected {
}
.filetree .dragHighlight {
}
.find-and-replace,
HTML {
  background: dark-background
}
.filetree .dragArrow {
}
.ace_tree-editor {
}
.bk-window,
.bk-window .bk-content,
.bk-window .bk-win-footer {
  background: light-background
}
.bk-window.dark .bk-content {
  background-color: light-background
}
.blackbutton {
  border: 1px solid transparent
}
.blackbuttonDisabled {
}
.blackdg .tree-headings {
  background: dark-background
}
.blackdg .records .row,
.blackdg .records .row span,
.tree-headings>.tree-column {
  background: 0 0
}
.blackdg .size_pointer {
  border: 1px dotted gray
}
.blackdg .ace_tree-editor,
.blackdg span.treecell u {
  border: 0
}
.blackdg .row span.colsel {
}
.blackdg .selected,
.blackdgDisabled .selected {
  background-color: dark-background
}
.black_dropdown {
  border: 1px solid transparent
}
.c9-optionList {
}
.btn-default-css3 .border {
}
.btn-default-css3Disabled.btn-red {
  color: maroon
}
.btn_console {
  border: 1px solid transparent
}
.btn_consoleOver {
}
.btn_consoleDown {
}
.btn_console div {
  background: 50% 50% no-repeat
}
.btn-switcher,
.c9-menu-bar .c9-mbar-cont {
  background: dark-background
}
.btn_console_open span {
}
.btn-switcher {
  -webkit-align-items: center;
  align-items: center;
  border: 1px solid transparent
}
.c9-menu-bar .c9-mbar-bcont .c9-mbar-minimize:after,
.c9-menu-bar .c9-mbar-bcont .c9-mbar-minimize:before {
}
.c9-mbar-round .mainlogo {
  pointer-events: all;
  text-indent: 100%
}
.c9-menu-bar .c9-mbar-bcont .c9-activity {
  pointer-events: all
}
.c9-menu-bar.minimized .c9-mbar-bcont .c9-mbar-minimize,
.c9-menu-bar.minimized .c9-mbar-cont,
.c9-menu-btnOver {
  background-color: dark-background
}
.c9-menu-btnDown {
  border: 1px solid light-background
}
.c9-menu-btnDisabled {
  color: gray
}
.c9-toolbarbutton-glossy {
  border: 1px solid transparent
}
.c9-toolbarbutton-glossyActive,
.c9-toolbarbutton-glossyDown,
.c9-toolbarbutton-glossyOver {
}
.btnSave .c9-icon {
  border: 1px solid light-background
}
.c9-toolbarbutton-glossy.error .c9-icon {
}
.c9-toolbarbutton {
  border: 1px solid transparent
}
.c9-toolbarbuttonOver {
  border: 1px solid light-background;
}
.c9-toolbarbuttonDown {
  border: 1px solid light-background;
}
.c9-toolbarbutton-light {
  border: 1px solid transparent
}
.c9-toolbarbutton-lightDown,
.c9-toolbarbutton-lightOver {
}
.c9-toolbarbutton-lightDown {
}
.editor_tab.notabs:after {
}
.editor_tab .btnsesssioncontainer {
  background: dark-background;
  border: 1px solid light-background;
  clip: rect(0, 3000px, 35px, 0)
}
.session_btn .tab_middle:after,
.session_btn .tab_middle:before,
.session_btn .tab_shadow:after,
.session_btn .tab_shadow:before {
}
.session_btn .tab_middle:after,
.session_btn .tab_middle:before {
  -webkit-mask: url(/static/plugins/c9.ide.layout.classic/images/c9-no-repeat_flat_dark@2x.png) no-repeat;
  -webkit-mask-size: 480px 580px
}
.session_btn .tab_middle:before {
}
.session_btn .tab_middle:after {
}
.session_btn:not(.curbtn) .tab_middle,
.session_btn:not(.curbtn) .tab_middle:after,
.session_btn:not(.curbtn) .tab_middle:before {
  background-color: dark-background!important

  &.over {
    background-color: light-background!important
  }
}
.session_btn.notrans .tab_middle,
.session_btn.notrans .tab_middle:after,
.session_btn.notrans .tab_middle:before {
}
.dark.session_btn.curbtn .sessiontab_title {
}
.focus.session_btn.curbtn .sessiontab_title {
  letter-spacing: -.4px
}
.asterisk .session_btn.changed .sessiontab_title:before {
}
.dropdown-dark-glossy .button:before,
.has_apf .plus_tab_button:after,
.has_apf .tabmenubtn:after,
.tabsContextMenu:after,
.tabsContextMenu:before {
}
.has_apf .plus_tab_button,
.has_apf .tabmenubtn,
.has_apf .tabmenubtn.c9-simple-btnOver,
.plus_tab_button.c9-simple-btnDown,
.plus_tab_button.c9-simple-btnOver {
  border: 1px solid transparent
}
.tabsContextMenu:before {
  pointer-events: none
}
.ace_repl_button,
.c9terminalcontainer .cover-link,
.listBP .btnclose,
.listBP .checkbox {
  pointer-events: auto
}
.codeditorHolder .editor_tab {
  background: dark-background
}
.searchbox .sbtb_middle .input,
.tb_textbox .sbtb_middle INPUT {
  border: 0
}
.has_apf .vimInput .sbtb_middle {
  border: none
}
.tb_console .sbtb_middle {
  border: 1px solid transparent
}
.consoleInputCloned,
.tb_console .sbtb_middle INPUT {
  border: 0
}
.ace_editor .tb_textboxInitialMsg {
  text-indent: 5px
}
.tb_consoleDisabled .sbtb_middle {
}
.noscrollbar .datagrid {
  background: transparant
}
.datagrid .headings div {
}
.datagrid .headings div.down,
.datagrid .headings div.drag,
.datagrid .headings div.hover {
}
.datagrid .headings div.drag {
}
.datagrid .records .row span {
}
.datagrid .records .selected,
.datagrid .records .selected span {
}
.datagridFocus .records .dragAppend,
.datagridFocus .records .dragAppend span,
.datagridFocus .records .selected,
.datagridFocus .records .selected span {
}
.datagrid .size_pointer {
  border: 1px dotted gray
}
.dragdg {
}
.datagrid blockquote {
  background: 0 center repeat-y
}
.datagrid .records span.treecell u,
.datagrid .tb,
.datagrid .treecell .tb {
  border: 0
}
.datagrid {
}
.datagrid .records {
  border-style: solid
}
.divider {
}
.divider-status-bar {
  border: none
}
.dark .divider-status-bar {
  background: 0 0
}
.dropdown,
.dropdown .dropdownArrow {
}
.dropdown-dark-glossy {
  border: 1px solid transparent
}
.dropdown-dark-glossyDisabled .label {
}
.dropdown-dark-glossy-options {
}
.dropdown .dropdownArrow {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px
}
.dropdownFocus .dropdownlabel {
}
.dropdownFocus .dropdownArrow {
  background: 0 0
}
.dropdownOver .dropdownArrow {
}
.dropdownDown .dropdownArrow {
}
.optionList .dditem:first-child {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px
}
.optionList .dditem:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}
.optionList .dditem.hover {
}
.errorbox .errbox_arrow {
  border: 0
}
.frame>.title {
  background-color: dark-background
}
.grouped_checkbox_holder .cbcontainerChecked,
.grouped_checkbox_holder .cbcontainerDown,
.grouped_checkbox_holder.with_caption .cbcontainer .checkbox {
  background: 0 0
}
.grouped_checkbox_holder {
  border: 1px solid transparent
}
.grouped_checkbox_holder .cbcontainer:before {
}
.c9-header-divider:before,
.c9terminalcontainer.cover:after,
.img:after,
.rbcontainer.themepicker.rbcontainerSelected div:after,
.right .panel-bar:after,
.splitbutton>div:first-child:after {
}
.grouped_checkbox_holder .cbcontainer .checkbox {
  border: 0
}
.list {
}
.draglist SPAN,
.list>DIV>SPAN {
  background: 1px center no-repeat
}
.listFocus>.indicate>SPAN>U {
}
.shortlist {
  border: 0
}
.c9menu {
}
.panel-bar {
  background: dark-background
}
.right .panel-bar:after {
  background: 0 0
}
.rbcontainer.themepicker div {
}
.scrollbar .btndown,
.scrollbar .btnup,
.scrollbar .indicator {
}
body .scrollbar .btndowndown div,
body .scrollbar .btnupdown div {
  border: 1px solid gray
}
.scrollbar .btndown div,
.scrollbar .btnup div,
.scrollbar .indicator div {
}
.spinnerFocus {
  border: 1px solid light-background
}
.spinner .divfix {
  border: 0
}
.spinner .divfix input {
  border: 0;
  background: 0 0
}
.spinner .buttons .minusHover,
.spinner .buttons .plusHover {
}
.spinner .buttons .minus,
.spinner .buttons .plus {
  border: 0;
  background: 0 0;
  text-indent: 0
}
.splitterMoving {
  background-color: gray
}
.colMain .splitter.vertical,
.splitter.horizontal {
  background: light-background
}
.dark.colMain .splitter.vertical {
  background: light-background;
  border: 1px solid light-background
}
.toolbar-top,
.tooltipLabel {
  background-color: dark-background
}
.tbsimple {
  border: 0
}
.ta,
.taDisabled {
  border: 1px solid light-background
}
.ta {
  resize: none
}
.taInitial {
  color: gray
}
.immediate .ace_dark .error,
.immediate .err,
.immediate .error,
.immediate .stack {
}
.taError {
}
.tooltipLabel {
  border: 1px solid light-background
}
.output .toolbar {
  background: 0 0
}
.output .toolbar .tbsimple {
}
.output .toolbar .tbsimple.tbsimpleFocus,
.output .toolbar .tbsimple:hover {
}
.output .c9terminal .c9terminalcontainer,
.output .c9terminal .c9terminalcontainer .terminal,
.output .c9terminal .c9terminalcontainer .terminal .ace_selection {
  text-indent: 0
}
.terminal_monitor_message {
  border: 1px solid light-background
}
.ace_repl_button {
}
.ace_repl_button:hover {
  border: 1px solid gray;
  pointer-events: auto
}
.ace_prompt {
}
.ace_gutter-cell.repl_prompt:after {
}
.ace_gutter-cell.repl_output:after {
}
.ace_gutter-cell.repl_output.waiting:after {
}
.ace_gutter-cell.repl_dots:after {
}
.repl_lineWidgetContainer {
  border: 1px solid grey
}
.repl_lineWidgetContainer:after,
.repl_lineWidgetContainer:before {
}
.immediate .ace_lineWidgetContainer {
  border: 0;
  background: 0 0
}
.immediate .treeitem .arrow {
  text-indent: -2000px
}
.immediate .ace_gutter-cell.repl_prompt:after {
}
.immediate .ace_gutter-cell.repl_dots:after,
.immediate .ace_gutter-cell.repl_output.waiting:after,
.immediate .ace_gutter-cell.repl_output:after {
}
.ace_lineWidgetContainer:after,
.ace_lineWidgetContainer:before {
  background: 0 0
}
.immediate .ace_dark .null {
  color: gray
}
.immediate .ace_dark .err,
.immediate .ace_dark .stack {
}
.immediate .ace_dark .stack a {
  color: gray
}
.blackdg .watcherror {
}
.condition_dialog {
}
.condition_dialog>.input {
  border: 0
}
.liveinspect {
}
.liveinspect.dark {
}
.listBP .bpItem.hover,
.listBP .bpItem:hover {
  background-color: dark-background
}
.listBP .message.empty {
  color: gray
}
.code_complete_text.dark .ace_line,
.code_complete_text.dark .ace_line.ace_selected span {
  color: dark-background
}
.language_tooltip {
  pointer-events: none
}
.code_complete_text.ace_autocomplete {
  border: 1px solid light-background
}
.code_complete_text.dark.ace_autocomplete {
  background: dark-background;
}
.code_complete_doc_text {
}
.code_complete_doc_text.dark {
}
.ace_dark .language_highlight_occurrence_main,
.ace_dark .language_highlight_occurrence_other,
.language_highlight_occurrence_main,
.language_highlight_occurrence_other {
}
.code_complete_text .ace_line {
  background: 0 0;
  pointer-events: auto
}
.code_complete_text.dark .ace_line-hover {
  background: dark-background;
  color: dark-background
}
.bk-window.login .bg-bk-content {
  background-color: dark-background
}
.disconnectlabel,
.errorlabel {
  pointer-events: none
}
.disconnectlabel div,
.errorlabel div {
  pointer-events: auto;
  word-wrap: break-word
}
.disconnectlabel.anim,
.errorlabel.anim {
}
.errorlabel.fade-in {
}
.infolabel.errorlabel div {
  background: light-background
}
.ace_treeDragImage .toggler,
.scroll_shadow {
  pointer-events: none
}
.ace_tree .tree-row .checkbox,
.openfiles .ace_tree .tree-row strong.close {
  pointer-events: auto
}
.custom-tree.ace_tree {
  background: 0 0;
  border: none
}
.custom-tree.ace_tree .tree-row {
  background: 0 0
}
.custom-tree.ace_tree .tree-row.selected {
  background: dark-background
}
.custom-tree.ace_tree .message {
  border: 0;
  background: 0 0;
  word-wrap: break-word
}
.ace_treeDragImage.copy:after {
}
.dragArrow::before,
.imgeditor:after {
}
.custom-tree.ace_tree_DragOver .tree-row.selected {
}
.dragHighlight {
}
.dragArrow {
}
.custom-tree.ace_tree-editor {
}
.findInRangeMarker {
}
.btnquicksearchnav .btnDivider {
  border-style: none solid
}
.bar-status,
.bar-status .lbl_row_col {
}
.bar-status.ace_dark .label {
}
.gotolinelist {
  border-style: solid
}
.barGotoline {
  border: 1px solid light-background
}
.dark .barGotoline {
}
.tbGotoline .sbtb_middle {
  border-style: solid
}
.tbGotoline .sbtb_middle INPUT {
  border: 0
}
.tbGotolineDisabled .sbtb_middle {
}
.dark .ace_gutter .ace_gutter_active_line {
}
.scroll_shadow {
  border-top-left-radius: 4px
}
.aceDisabled {
}
.aceError {
}
.ace-solarized-light .fm-window .fm-content,
.fm-window .fm-header .hcontent {
}
.ace_tooltip {
}
.ace_dark .ace_tooltip {
}
.ace_progress.upload {
  background: 0 0
}
.openfiles {
  background: dark-background
}
.imgtoolbar {
  background-color: dark-background
}
.imgeditorrect {
}
.bartools .c9-toolbarbutton-glossy,
.bartools .c9-toolbarbutton-glossyOver {
  border: 0
}
.bartools .c9-toolbarbutton-glossymenuDown {
}
.c9-menu-btnDown:not(.c9-menu-btnmenuDown) {
  border: 0
}
.console>.hbox>.btn_consoleDown,
.console>.hbox>.btn_consoleOver {
  border: 1px solid transparent
}
.c9-toolbarbutton-glossy.saved .c9-label,
.c9-toolbarbutton-glossy.saving .c9-label {
  background: 0 0
}
.cbcontainerFocus span {
}
.grouped_checkbox_holder.mount .cbcontainerFocus span,
.has_apf .toolbar-top .sbtb_middle,
.toolbar-top.basic .c9-menu-btnDown.scripts {
  border: 0
}
.bartools .c9-toolbarbutton-glossyOver {
  background: dark-background
}
.rbcontainer.themepicker.rbcontainerSelected div:after {
}
.grouped_checkbox_holder.mount {
}
.cboffline,
.dgLikeContaier {
}
.cboffline:after {
}
.spinner {
}
.has_apf .bar-preferences .blackdg {
  border: 0
}
