[submodule "vim/bundle/youcompleteme"]
	path = vim/bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline.git
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-yank"]
	path = tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux-continuum"]
	path = tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "vim-endwise"]
	path = vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "emacs.d/themes/emacs-color-theme-solarized"]
	path = emacs.d/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "spacemacs"]
	path = spacemacs
	url = https://github.com/syl20bnr/spacemacs
[submodule "vim/bundle/vim-bufferline"]
	path = vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim/bundle/vimdeck"]
	path = vim/bundle/vimdeck
	url = https://github.com/tybenz/vimdeck
[submodule "vim/bundle/SyntaxRange"]
	path = vim/bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule "cmd-colors-solarized"]
	path = cmd-colors-solarized
	url = https://github.com/neilpa/cmd-colors-solarized
[submodule "nuke"]
	path = nuke
	url = https://github.com/jstransformers/nuke
